@font-face {
    font-family: "Raleway Black";
    src: url(../../fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway Bold";
    src: url("../../fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: "Raleway Bold italic";
    src: url("../../fonts/Raleway-Bold-Italic.ttf");
}
@font-face {
    font-family: "Raleway Extra Bold";
    src: url("../../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "Raleway Regular";
    src: url("../../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Roboto Black";
    src: url(../../fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url(../../fonts/Roboto-Black-Italic.ttf);
}
body {
    background: lemonchiffon;
    margin: 0;
}
.container2 {
    width: 100%;
    margin: 0 auto;
    background: -moz-linear-gradient(top, rgb(180, 223, 91) 0%, rgba(180, 223, 91, 1) 100%);
    background: rgb(180, 223, 91);
    background: -webkit-linear-gradient(top, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%);
    background: linear-gradient(to bottom, rgba(180, 223, 91, 1) 0%, rgba(180, 223, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4df5b', endColorstr='#b4df5b', GradientType=0);
}
.header2 {
    position: relative;
    display: block;
    height: 700px;
    width: 1170px;
    margin: 0 auto;
}
.logo {
    display: block;
    width: 150px;
    height: 130px;
    background: url("../../image/logo-new2.1.png");
}
.block-yelow {
    background: url("../../image/baner-yelow.png");
    display: block;
    position: absolute;
    bottom: 54px;
    width: 270px;
    height: 281px;
    padding: 45px 25px 0 20px;
    text-align: start;
    box-sizing: border-box;
}
.block-yelow-1 {
    display: block;
    font-size: 30px;
    font-family: "Raleway Bold", sans-serif;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.block-yelow-2 {
    display: block;
    font-family: "Raleway Bold italic", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-top: 40px;
    color: #333;
}
.block-text{
    height: 250px;
    width: 501px;
    position: absolute;
    top: 250px;
    right: 50px;
}
.block-text-1{
    font-family: "Raleway Extra Bold";
    font-size: 48px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #966b56;
}
.block-text-2 {
    font-family: "Raleway Regular";
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 415px;
    color: #966b4b;
}
.buy {
    width: 124px;
    height: 49px;
    background-color: #fff51f;
    text-align: center;
    line-height: 49px;
    display: block;
    text-decoration: none;
    list-style-type: none;
    font-family: "Raleway Black";
    color: #484343;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    margin-top: 50px;
}
.buy:hover {
    color: #fff51f;
    font-weight: bold;
    background: #484343;
}
.icon {
    width: 260px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
}
.icon a {
    color: white;
}
.icon i {
    margin: 8px;
    font-size: 20px;
}
.icon i:hover {
    color: #abeafa;
}

/*
ДАЛЬШЕ ПОШЕЛ КОНТЕНТ САЙТА ____________________________________________________________*/

.contentcentr {
    width: 100%;
    float: left;
    margin-top: -20px;
}
/*
.contentsait-1 {
    width: 270px;
    float: left;
}
*/

.contentsait {
    width: 1170px;
    height: 100%;
    margin:  0 auto;
}
.contentleft {
    width: 270px;
    height: 100%;
    float: left;
}
.menu {
    width: 270px;
    height: 100%;
    background: #966b4b;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.menu-1 {
    margin: 0;
    padding: 0

}
.menu-1 li {
    text-transform: uppercase;
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    display: list-item;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto Black", sans-serif;
}
.menu-1 li a {
    height: inherit;
    padding: 0 40px;
    line-height: 41px;
    text-decoration: none;
    display: block;
    color: rgb(180, 223, 91);
}
.menu-1 li a:hover {
    background: #fff51f;
    color: #484343;
}
.menu-1 li:first-child a {
    line-height: 66px;
    background: #fff51f;
    color: #484343;
}
.blog {

    text-transform: uppercase;
    font-family: "Roboto Black Italic";
    font-size: 36px;
    width: 270px;
    height: 300px;
    box-sizing: border-box;
    border: 10px solid white;
    margin-top: 30px;
    background: url("../../image/blog.png");
}
.blog span{
    position: relative;
    top: 190px;
    left: 127px;
    color: royalblue;
}

.contentright {
    float: right;
    height: 100%;
    width: 870px;
}
.right-newproducts {
    background: white;
    height: 78px;
    line-height: 78px;
    font-size: 22px;
    text-transform: uppercase;
    color: #707070;
    padding: 0 20px;
    font-family: "Roboto Black Italic", sans-serif;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.catalog {
    float: left;
    width: 870px;
}
.catalog-unit {
    font-family: "Roboto Black Italic", sans-serif;
    background: #f8f8f8;
    width: 250px;
    height: 320px;
    padding: 10px;
    float: left;
    margin: 0 30px 35px 0;
    position: relative;
}
.unit-ygol{
    background: url(../../image/corner_11349.png) no-repeat;
}
.unit-ygol2{
    background: url("../../image/corner_11353.png") no-repeat;
}
.unit-ygol2,
.unit-ygol {
    font-family: "Roboto Regular", sans-serif;
    font-size: 11px;
    box-sizing: border-box;
    position: absolute;
    width: 46px;
    height: 46px;
    right: 0;
    top: 0;
    padding: 5px 3px 0 17px;
    text-transform: uppercase;
    color: white;
}
.unit-name {
width: 80%;
    float: left;
    font-size: 14px;
    margin-top: 27px;
}
.unit-sale {
    font-size: 18px;
    position: relative;
    left: 1px;
    margin-top: 27px;
}
.unit-oldprise {
    text-align: right;
    color: #e24602;
    font-size: 14px;
    text-decoration: line-through;
}
.catalog-unit:nth-child(3n) {
    margin-right: 0;
}
.right-top-product {
    background: white;
    height: 78px;
    line-height: 78px;
    font-size: 22px;
    text-transform: uppercase;
    color: #707070;
    padding: 0 20px;
    font-family: "Roboto Black Italic", sans-serif;
    margin-bottom: 30px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

                   /*
                   BRANDS----------------------------------------------------------------                   */


.brands {
    width: 1170px;
    height: 160px;
    background: rgb(180, 223, 91);
    position: relative;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 13px;
    box-sizing: border-box;
}
.instFeed {
    float: left;
    width: 100%;
    height: 350px;
    background-color: #eaeaea;
}
.instFeed-name {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 18px;
}
.instFeed-image {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.instFeed-image img {
    padding: 8px;
    background: white;
}
.InstTwitPin {
    width: 100%;
    float: left;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.InstTwitPin a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    height: inherit;
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
}
.InstTwitPin a:nth-child(1){
    background: #06c5ff;
}
.InstTwitPin a:nth-child(2){
    background: #A8F000;
}
.InstTwitPin a:nth-child(3){
    background: #e24602;
}
.footer {
    width: 100%;
    float: left;
    height: 390px;
    background-color: #373737;
}
.footerContent {
    width: 1170px;
    margin: 0 auto;
    height: 343px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 75px;
    box-sizing: border-box;
}
.footerContent-1 {
    font-family: "Raleway Extra Bold", sans-serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 28px;
}
.footerContent-1-2 a {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}
.footerSubmit {
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    color: #fff;
}
.footerSubmit-text {
    margin-bottom: 31px;
}
.footerSubmit input {
    background-color: #fff51f;
    width: 180px;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
}
.footerSubmit button {
    width: 84px;
    height: 30px;
    background: #000;
    color: #fff;
    font-family: "Roboto Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
}
.footerSubmit-img {
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.footerContent-1-2-3 {
    width: 232px;
    color: #fff;
    font-family: "Roboto Regular", sans-serif;
}
.footerContent-1-2 {
    font-size: 12px;
    text-align: justify;
}
.footerContent-1-2-phone span {
    margin-right: 7px;
}
.footerContent-1-2-phone {
    margin-top: 15px;
    font-size: 14px;
}
.footerContent-1-2-phone b {
    color: #A8F000;
}
.footerCopyrights {
    width: 100%;
    height: 47px;
    background: #333;
    line-height: 47px;
}
.copyrightsInside {
    width: 1170px;
    margin: 0 auto;
    height: inherit;
    color: #fff;
}
.footerCopySign {

    float: left;
    font-size: 12px;
    font-family: "Roboto Regular", sans-serif;
}
.footerSocials {
    height: inherit;
    float: right;
    width: 178px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}